* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: darkgray;
}

header {
    background-color: lightgray;
}

nav {
    background-color: steelblue;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

a {
    background-color: steelblue;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    text-decoration: none;
    margin: 40px;
}


#active, a:hover {
    background-color: black;
    color: steelblue;
}

h1 {
    color: steelblue;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    background-color: lightgray;
}

img {
    width: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    padding: 30px 0px;
}

.para {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
}

footer p {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

footer {
    background-color: steelblue;
}
