* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

h1, h2, h3, h4 {
    font-family: 'Verdana', 'Tahoma', 'Lato';
    color: #002f6c;
}

p, a {
    font-family: 'Trebuchet MS', 'Tahoma', 'Arial';
}

nav {
    background-color: #181711;
    text-align: right;
    padding: 40px;
    position: relative;
    top: -150px;
}
nav a {
    color: #b5b7ba;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 40px;
}

nav a:hover {
    background-color: #002f6c;
    color: #f5f5f5;
}

.logo {
    position: relative;
    left: 120px;
    top: 20px;
    z-index: 1;
}

.logo img {
    width: 200px;
    border-radius: 15px;
    border: #181711 10px solid ;
    z-index: 1;
}

main {
    text-align: center;
}

.page-title {
    font-size: 2.4em;
    margin-top: -100px;
    margin-bottom: 50px;
}

p {
    font-size: 1.5em;
}

.site-des {
    margin: 0 400px 50px 400px
}

.banner {
    width: 100%;
    min-height: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 0;
    transition: all .5s;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner a {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10;
    margin: 700px 0 0 50px;
    font-size: 3em;
    color: #b5b7ba;
    background-color: rgba(24, 23, 17, .8);
    width: 50%;
    height: 10%;
    padding-top: 20px;
    border-radius: 30px;
    text-decoration: none;
}

#spacex-banner {
    background-image: url("images/SpaceX-Banner-Edit.jpg");
}

#lab-banner {
    background-image: url("images/Rocket-Lab-Banner.png");
}

#nasa-banner {
    background-image: url("images/NASA-Banner-Edit.jpeg");
}

#ula-banner {
    background-image: url("images/ULA-Banner-Edit.jpg");
}

#ariane-banner {
    background-image: url("images//Ariane-Space-Banner-Edit.jpg");
}

#origin-banner {
    background-image: url("images/Blue-Origin-Banner-Edit.png");
}

table {
    margin: 100px auto;
    padding: 50px;
    font-size: 1.7em;
    border-top: #b5b7ba 2px solid;
    border-bottom: #b5b7ba 2px solid;
}

table td {
    border  : #181711 1px solid;
    padding: 10px;
}

.top-row {
    background-color: #181711;
    color: #b5b7ba;
}

tr:nth-of-type(even) {
    background-color: #b5b7ba;
}

footer {
    background-color: #002f6c;
    color: #b5b7ba;
    display: grid;
    grid-template-columns: 20% 20% 20% 10% 10% 20%;
    text-align: center;
}

footer a {
    color: #b5b7ba;
    text-decoration: none;
}

#copy {
    grid-column: 1/2;
    grid-row: 2/3;
}

#plan {
    grid-column: 2/3;
    grid-row: 2/3;
}

#contact {
    grid-row: 2/3;
    grid-column: 3/4;
}

#spacex-web {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-top: 20px;
}

#lab-web {
    grid-column: 4/5;
    grid-row: 2/3;
}

#nasa-web {
    grid-column: 4/5;
    grid-row: 3/4;
}

#ula-web {
    grid-column: 5/6;
    grid-row: 1/2;
    margin-top: 20px;
}

#ariane-web {
    grid-column: 5/6;
    grid-row: 2/3;
}

#origin-web {
    grid-column: 5/6;
    grid-row: 3/4;
}

#footer-logo {
    grid-column: 6/7;
    grid-row: 1/4;
    margin: 0 auto;
    height: 150px;
}

footer a:hover {
    color: #f5f5f5;
}

#update {
    font-size: .8em;
    position: relative;
    bottom: 150px;
}

.provider-info {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr 1fr 1fr / 30% 70%;
    color: #b5b7ba;
    margin-bottom: 150px;
}

.provider-banner {
    width: 100%;
    z-index: -1;
    border: #181711 10px solid;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 1/4;
    box-sizing: border-box;
    background-color: #181711;
    transition: all .5s;
}

button {
    font-size: 1.8em;
    position: relative;
    top: 30%;
    padding: 30px;
    height: 50%;
    background: none;
    border: none;
    font-weight: 800;
    background-color: rgba(181, 183, 186, .7);
    padding: 0;
    border-radius: 30px;
    color: #002f6c;
    height: fit-content;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

button:hover {
    color: #181711;
}

.provider-info p {
    height: fit-content;
    padding: 30px;
    position: relative;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);   
    right: 20px;
    background-color: rgba(21, 23, 17, .9);
    border-radius: 100px;
    display: none;
}

.provider-info button:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

.provider-info button:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}

.provider-info button:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
}

.provider-info p:nth-of-type(1) {
    grid-column: 2/3;
    grid-row: 1/4;
}

.provider-info p:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/4;
}

.provider-info p:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 1/4;
}

.rocket-image {
    width: 100%;
    border: #181711 solid 10px;
    border-radius: 20px;
}

.rocket {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.rocket p {
    background-color: #b5b7ba;
    height: fit-content;
    padding: 20px;
    border-radius: 40px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rocket:nth-of-type(even) img {
    grid-column: 3/4;
    grid-row: 1/2;
}

.rocket:nth-of-type(even) table {
    grid-column: 2/3;
    grid-row: 1/2;
}

.rocket:nth-of-type(even) p {
    grid-column: 1/2;
    grid-row: 1/2;
}

form {
    background-color: #b5b7ba;
    width: fit-content;
    margin: 0 auto 150px auto;
    border-radius: 30px;
    padding: 40px;
    font-size: 2em;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
form li + li {
    margin-top: 1em;
}
  

form button {
    font-size: .9em;
    width: 100%;
    margin-top: 20px;
}

input,
textarea {
  font: .5em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        font-size:2.1em
    }
}